<!DOCTYPE html>
<html lang="en">
<head lang="en-US">
    <title>Hymn Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script data-require="jquery@*" data-semver="2.1.1"
            src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.2.0"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script data-require="angular.js@*" data-semver="1.3.0" src="//code.angularjs.org/1.3.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="script.js"></script>

    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css"/>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="HymnApp" ng-controller="HymnCtrl">
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Home')" id="defaultOpen">Home</button>
    <button class="tablinks" onclick="openTab(event, 'About')">About</button>
</div>
<div id="Home" class="tabcontent">
    <div>
        <div>
            <p class="instruction">查看歌词，请选择诗歌本和诗歌</p>
            <p class="instruction">Please select a hymnbook and a hymn to check its lyric</p>
            <div class="dropdown dropdown-scroll float-div">
                <button class="btn btn-default dropdown-toggle select-button" type="button" data-toggle="dropdown">
                    {{selectedBookOrDefault}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <div class="input-group input-group-sm search-control"><span class="input-group-addon"><span
                                class="glyphicon glyphicon-search"></span></span>
                            <input type="text" class="form-control" placeholder="Query" ng-model="queryBook">
                        </div>
                    </li>
                    <li role="presentation" ng-repeat='bookName in bookNames | filter:queryBook'>
                        <a href="#" ng-click="selectBook(bookName);"> {{bookName}} </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown dropdown-scroll float-div">
                <button class="btn btn-default dropdown-toggle select-button" type="button" data-toggle="dropdown">
                    {{selectedHymnOrDefault | myFormat}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <div class="input-group input-group-sm search-control"><span class="input-group-addon"><span
                                class="glyphicon glyphicon-search"></span></span>
                            <input type="text" class="form-control" placeholder="Query" ng-model="queryHymn">
                        </div>
                    </li>
                    <li role="presentation" ng-repeat='hymnName in hymnNames | filter:queryHymn'>
                        <a href="#" ng-click="selectHymn(hymnName);"> {{hymnName | myFormat}} </a>
                    </li>
                </ul>
            </div>
            <br/><br/>
            <div class="hymn-whole" ng-hide="!selectedHymnLyric">
                <p> {{selectedHymnLyric}} </p>
            </div>
            <hr/>
        </div>
        <div class="section">
            <p class="instruction">请在各个诗歌本对应的输入框里输入选择的诗歌序号，然后点击 "Generate Hymn List"</p>
            <p class="instruction">Please input ids of the selected hymns of each book and click "Generate Hymn List"</p>
            <ul ng-repeat="bookName in bookNames">
                <label>{{bookName}}: </label>
                <input type="text" size="100" maxlength="200" ng-model="bookToSelectedHymnIds[bookName]"
                       placeholder="Please enter hymn ids separated by commas (e.g: 1,2)">
            </ul>
            <button ng-click="submitSelectedHymns()" class="btn btn-default">Generate Hymn List</button>
            <hr/>
        </div>
        <div>
            <p class="instruction">请调整诗歌顺序，并选择是否显示中文及英文，然后点击 "Show Lyrics"、 "Show Slides"、 "Export Slides"</p>
            <p class="instruction">Please adjust the order of the selected hymns and click "Show Lyrics", "Show Slides", or "Export Slides"</p>
            <table>
                <tr>
                    <td>Hymn</td>
                    <td>Display Chinese Lyrics</td>
                    <td>Display English Lyrics</td>
                    <td>Move Up</td>
                    <td>Move Down</td>
                    <td>Delete</td>
                </tr>
                <tr ng-repeat="bookAndSelectedHymn in bookAndSelectedHymnList">
                    <td>{{bookAndSelectedHymn  | myFormat}}&nbsp;&nbsp;</td>
                    <td><input type="checkbox" ng-model="includeChineseLyrics[bookAndSelectedHymn]"></td>
                    <td><input type="checkbox" ng-model="includeEnglishLyrics[bookAndSelectedHymn]"></td>
                    <td>
                        <button class="glyphicon glyphicon-arrow-up" ng-click="moveUp($index, $first)"></button>
                    </td>
                    <td>
                        <button class="glyphicon glyphicon-arrow-down" ng-click="moveDown($index, $last)"></button>
                    </td>
                    <td>
                        <button class="glyphicon glyphicon-remove" ng-click="removeSelectedHymn($index)"></button>
                    </td>
                </tr>
            </table>
            <br/>
            <button ng-click="showLyrics()" class="btn btn-default">Show Lyrics</button>
            <button ng-click="showSlides()" class="btn btn-default">Show Slides</button>
            <button ng-click="downloadSlides()" class="btn btn-default">Download Slides</button>
            <hr/>
        </div>
    </div>
    <div>
        <ul ng-repeat="hymnLyric in selectedHymnLyrics">
            <div class="hymn-whole">
                <p> {{hymnLyric}} </p>
            </div>
            <hr/>
        </ul>
    </div>
</div>
<div id="About" class="tabcontent">
</div>
<script>
    $('.dropdown-menu').find('input').click(function (e) {
      e.stopPropagation();
    });

</script>
</body>
</html>