<!DOCTYPE html>
<html lang="en">
<head lang="en-US">
    <title>Hymn Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script data-require="jquery@*" data-semver="2.1.1"
            src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.2.0"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script data-require="angular.js@*" data-semver="1.3.0" src="//code.angularjs.org/1.3.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="script.js"></script>

    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css"/>
    <!--<link rel="stylesheet" href="style.css">-->
    <style>
        .dropdown.dropdown-scroll .dropdown-menu {
            max-height: 200px;
            width: 60px;
            overflow: auto;
        }
        .search-control {
            padding: 5px 10px;
        }
        .hymn-whole {
            text-align: center;
        }
        .hymn-title {
            font-style: Sans-serif;
            font-size: 40px;
            font-weight: bold;
        }

        .hymn-body {
            font-style: Sans-serif;
            font-size: 30px;
            font-weight: bold;
            white-space: pre-line;
        }
    </style>
</head>
<body ng-app="HymnApp" ng-controller="HymnCtrl">
Hide the search tool: <input type="checkbox" ng-model="hideTheSearchTool">
<div ng-hide="hideTheSearchTool">
    <div>
        <hr/>
        <div class="dropdown dropdown-scroll">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select A HymnBook <span
                    class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                    <div class="input-group input-group-sm search-control"><span class="input-group-addon"><span
                            class="glyphicon glyphicon-search"></span></span>
                        <input type="text" class="form-control" placeholder="Query" ng-model="queryBook">
                    </div>
                </li>
                <li role="presentation" ng-repeat='bookName in bookNames | filter:queryBook'>
                    <a href="#" ng-click="selectBook(bookName);"> {{bookName}} </a>
                </li>
            </ul>
            <label>HymnBook:&nbsp;&nbsp;{{selectedBook}}</label>
        </div>
        <div class="dropdown dropdown-scroll">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select A Hymn <span
                    class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                    <div class="input-group input-group-sm search-control"><span class="input-group-addon"><span
                            class="glyphicon glyphicon-search"></span></span>
                        <input type="text" class="form-control" placeholder="Query" ng-model="queryHymn">
                    </div>
                </li>
                <li role="presentation" ng-repeat='hymnName in hymnNames | filter:queryHymn'>
                    <a href="#" ng-click="selectHymn(hymnName);"> {{hymnName}} </a>
                </li>
            </ul>
            <label>Hymn:&nbsp;&nbsp;{{selectedHymn}}</label>
        </div>
        <hr/>
        <div class="hymn-whole">
            <p class="hymn-title">{{hymn.title}}</p>
            <p class="hymn-body"><span>{{hymn.body}}</span></p>
        </div>
    </div>
    <div>
        <hr/>
        <p>Please input ids of the hymns of each book and hit "Ok":</p>
        <ul ng-repeat="bookName in bookNames">
            {{bookName}}: <input type="text" ng-model="selectedBookToHymns[bookName]" placeholder="Enter hymn ids here">
        </ul>
        <button ng-click="submitSelectedHymns()">Ok</button>
    </div>
    <div>
        <hr/>
        <p>Please adjust the order of the selected hymns and hit "Go":</p>
        <table>
            <tr ng-repeat="hymn in selectedBookAndHymnList" style="height: 200%;">
                <td>{{hymn[0]}}&nbsp;&nbsp;{{hymn[1]}}&nbsp;&nbsp;</td>
                <td>
                    <button class="glyphicon glyphicon-arrow-up" ng-click="moveUp($index, $first)"></button>
                </td>
                <td>
                    <button class="glyphicon glyphicon-arrow-down" ng-click="moveDown($index, $last)"></button>
                </td>
                <td>
                    <button class="glyphicon glyphicon-remove" ng-click="removeSelectedHymn($index)"></button>
                </td>
            </tr>
        </table>
        <button ng-click="buildHymnResult()">Go</button>
    </div>
</div>
<div>
    <ul ng-repeat="hymnResult in hymnResults">
        <hr/>
        <div class="hymn-whole">
            <p class="hymn-title">{{hymnResult.title}}</p>
            <p class="hymn-body"><span>{{hymnResult.body}}</span></p>
        </div>
    </ul>
</div>
<script>
    $('.dropdown-menu').find('input').click(function (e) {
      e.stopPropagation();
    });

</script>
</body>
</html>