.dropdown.dropdown-scroll .dropdown-menu {
    max-height: 200px;
    width: 60px;
    min-width: 500px;
    overflow: auto;
}

.select-button {
    width: 500px;
}

.float-div {
    float: left;
    margin-right: 4px;
}

.section {
    clear:both
}

.search-control {
    padding: 5px 10px;
}
.hymn-whole {
    clear: both;
    font-style: Sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    white-space: pre-line;
}

label {
    width: 150px;
}

.instruction {
    font-style: Sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

td {
    height: 36px;
}
table {
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}